<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Asylum: Diaries of a Madman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gergely Nagy">

    <meta property="og:title"
          id="madness-og-title" content="Asylum: Diaries of a Madman">
    <meta property="og:url"
          id="madness-og-url" content="https://asylum.madhouse-project.org/">
    <meta property="og:description"
          id="madness-og-description" content="">

    <link href="/assets/asylum/images/mhp-logo.png" rel="icon">
    <link href="/assets/asylum/css/asylum8.min.css?${build-date}" type="text/css" rel="stylesheet"
          id="main-css">

    <link rel="me" href="mailto:asylum@gergo.csillger.hu">
    <link rel="me" href="https://keybase.io/algernon">
    <link rel="me" href="https://github.com/algernon">
    <link rel="me" href="https://trunk.mad-scientist.club/@algernon">

    <link rel="alternate" type="application/atom+xml" title="Asylum: Diaries of a Madman"
          href="/blog/atom.xml" id="main-rss">
  </head>

  <body id="top">
      <main id="container">
          <div class="no-index">
              <a href="/" id="brand">Diaries of a Madman</a>
          </div>

          <section id="madness-index"
                   style="align-items:center;justify-content:center;text-align:center;margin-top:2em;">
              <div>
                  <img srcset="/assets/asylum/images/mhp-logo.192.png 192w,
                               /assets/asylum/images/mhp-logo.512.png 512w"
                       sizes="(max-width: 511px) 192px,
                               512px"
                       src="/assets/asylum/images/mhp-logo.512.png"
                       alt="[Logo]">
              </div>
              <div style="margin-bottom:2em;font-family:monospace;color:#888;">
                  Diaries of a Madman
              </div>
              <div>
                  <a href="/blog/archives/" class="button">Blog</a>
                  <a href="/about/" rel="me" class="button">About</a>
                  <a href="https://trunk.mad-scientist.club/@algernon" rel="me" class="button">Mastodon</a>
                  <a href="https://git.madhouse-project.org/algernon/" rel="me" class="button">Git</a>
              </div>
          </section>

          <section id="madness-article" class="h-entry">
              <h2 title="The latest article" class="madness-article-title p-name">
                  <a href="#" class="madness-post-article-link u-url">
                      The latest article
                  </a>
              </h2>

              <div class="madness-article-meta">
                  Posted in
                  <span id="madness-article-tags">
                      <a href="#"><span>tag</span></a>
                  </span>, on <a href="#" id="madness-article-date">
                      <time class="dt-published" datetime="#">2013-11-30</time></a>
                  <hr>
              </div>

              <div class="e-content">
                <div id="madness-article-content">
                  ....
                </div>
              </div>

              <div id="madness-article-read-more">
                  <a class="button">
                      Read on ≫
                  </a>
              </div>
          </section>

          <section id="madness-recent-posts" class="madness-recent-posts">
              <div id="madness-archive-recent-post-row"
                   class="row">
                  <div class="col-xs-3" id="madness-archive-recent-post">
                      <h3 class="madness-post-title">
                          <span class="madness-post-date">2018-09-03</span>
                          <a href="#" class="madness-post-article-link"
                             title="The latest article">
                              The latest article
                          </a>
                      </h3>
                  </div>
              </div>
          </section>

          <section id="madness-archive">
              <div id="madness-archive-archived-posts">
                  <div id="madness-archive-archived-post-row">
                  </div>
              </div>
          </section>

      </main>

      <section style="display:none" class="h-card">
          <ul>
              <li class="p-name fn">
                  Gergely Nagy
              </li>
            </li>
            <li class="p-nickname nickname">
                algernon
            </li>
            <li>
                <a href="https://keybase.io/algernon/pgp_keys.asc?fingerprint=10e65dc045eabefcc5193a26ac1e90bac433f68f" class="u-key key">PGP, OpenPGP, GPG: 10E65DC045EABEFCC5193A26AC1E90BAC433F68F</a>
            </li>
            <li>
                <a class="u-email email" href="mailto:asylum@gergo.csillger.hu">asylum@gergo.csillger.hu</a>
            </li>
            <li>
                <a class="u-url url" href="https://asylum.madhouse-project.org/">asylum.madhouse-project.org</a>
            </li>
        </ul>
      </section>

      <footer class="no-index">
          &copy; 2010-2018
          <a href="/about/">Gergely Nagy</a>
          |
          <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license">
              CC-BY-SA 4.0
          </a>

          <div>
              <a href="/blog/atom.xml">RSS</a>
              |
              <a href="/blog/archives/">Archives</a>
              |
              <a href="#top">Top</a>
          </div>
      </footer>
  </body>
</html>
