<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Asylum: Diaries of a Madman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gergely Nagy">

    <meta property="og:title"
          id="madness-og-title" content="Asylum: Diaries of a Madman">
    <meta property="og:url"
          id="madness-og-url" content="https://asylum.madhouse-project.org/">
    <meta property="og:description"
          id="madness-og-description" content="">

    <link href="/assets/asylum/images/mhp-logo.png" rel="icon">
    <link href="/assets/asylum/css/asylum8.min.css" type="text/css" rel="stylesheet">

    <link rel="alternate" type="application/atom+xml" title="Asylum: Diaries of a Madman"
          href="/blog/atom.xml" id="main-rss">
  </head>

  <body id="top">
      <div id="container">
          <div>
              <a href="/" id="brand">Diaries of a Madman</a>
          </div>

          <section id="madness-article">
              <h2 title="The latest article" class="madness-article-title">
                  <a href="#" class="madness-post-section-sign">§</a>
                  <a href="#" class="madness-post-article-link">
                      The latest article
                  </a>
              </h2>

              <div class="madness-article-meta">
                  Posted in
                  <span id="madness-article-tags">
                      <a href="#"><span>tag</span></a>
                  </span>, on <a href="#" id="madness-article-date">2013-11-30</a>
                  <hr>
              </div>

              <div id="madness-article-content">
                  ....
              </div>

              <div id="madness-article-read-more">
                  <a class="button">
                      Read on ≫
                  </a>
              </div>
          </section>

          <section id="madness-recent-posts" class="madness-recent-posts">
              <div id="madness-archive-recent-post-row"
                   class="row">
                  <div class="col-xs-3" id="madness-archive-recent-post">
                      <h3 class="madness-post-title">
                          <a href="#" class="madness-post-section-sign">§</a>
                          <a href="#" class="madness-post-article-link"
                             title="The latest article">
                              The latest article
                          </a>
                      </h3>
                  </div>
              </div>
          </section>

          <section id="madness-archive">
              <div id="madness-archive-archived-posts">
                  <div id="madness-archive-archived-post-row">
                  </div>
              </div>
          </section>

      </div>

      <footer>
          &copy; 2010-2018
          <a href="/about/">Gergely Nagy</a>
          |
          <a href="http://creativecommons.org/licenses/by-sa/4.0/" rel="license">
              CC-BY-SA 4.0
          </a>

          <div>
              <a href="/blog/archives/">Archives</a>
              |
              <a href="#top">Top</a>
          </div>
      </footer>
  </body>
</html>
